.elementor-189 .elementor-element.elementor-element-c5a0ec8:not(.elementor-motion-effects-element-type-background),
.elementor-189 .elementor-element.elementor-element-c5a0ec8>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0A0919;
}

.elementor-189 .elementor-element.elementor-element-c5a0ec8 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-189 .elementor-element.elementor-element-c5a0ec8>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-189 .elementor-element.elementor-element-a007c76>.elementor-element-populated {
    padding: 20px 20px 20px 20px;
}

.elementor-189 .elementor-element.elementor-element-4312409 img {
    width: 50%;
}

.elementor-189 .elementor-element.elementor-element-22220d5 {
    text-align: center;
}

.elementor-189 .elementor-element.elementor-element-22220d5 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

.elementor-189 .elementor-element.elementor-element-f9c74d4 .elementor-field-group {
    padding-right: calc( 10px/2);
    padding-left: calc( 10px/2);
    margin-bottom: 10px;
}

.elementor-189 .elementor-element.elementor-element-f9c74d4 .elementor-form-fields-wrapper {
    margin-left: calc( -10px/2);
    margin-right: calc( -10px/2);
    margin-bottom: -10px;
}

.elementor-189 .elementor-element.elementor-element-f9c74d4 .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-189 .elementor-element.elementor-element-f9c74d4 .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-189 .elementor-element.elementor-element-f9c74d4 .elementor-labels-inline .elementor-field-group>label {
    padding-left: 0px;
}

body:not(.rtl) .elementor-189 .elementor-element.elementor-element-f9c74d4 .elementor-labels-inline .elementor-field-group>label {
    padding-right: 0px;
}

body .elementor-189 .elementor-element.elementor-element-f9c74d4 .elementor-labels-above .elementor-field-group>label {
    padding-bottom: 0px;
}

.elementor-189 .elementor-element.elementor-element-f9c74d4 .elementor-field-type-html {
    padding-bottom: 0px;
    color: #000000;
}

.elementor-189 .elementor-element.elementor-element-f9c74d4 .elementor-field-group .elementor-field {
    color: #000000;
}

.elementor-189 .elementor-element.elementor-element-f9c74d4 .elementor-field-group .elementor-field,
.elementor-189 .elementor-element.elementor-element-f9c74d4 .elementor-field-subgroup label {
    font-family: "Poppins", Sans-serif;
    font-weight: 600;
}

.elementor-189 .elementor-element.elementor-element-f9c74d4 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
}

.elementor-189 .elementor-element.elementor-element-f9c74d4 .elementor-field-group .elementor-select-wrapper select {
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
}

.elementor-189 .elementor-element.elementor-element-f9c74d4 .elementor-button {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 5px 5px 5px 5px;
}

.elementor-189 .elementor-element.elementor-element-f9c74d4 .e-form__buttons__wrapper__button-next {
    background-color: #08AFC4;
    color: #ffffff;
}

.elementor-189 .elementor-element.elementor-element-f9c74d4 .elementor-button[type="submit"] {
    background-color: #08AFC4;
    color: #ffffff;
}

.elementor-189 .elementor-element.elementor-element-f9c74d4 .elementor-button[type="submit"] svg * {
    fill: #ffffff;
}

.elementor-189 .elementor-element.elementor-element-f9c74d4 .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-189 .elementor-element.elementor-element-f9c74d4 .e-form__buttons__wrapper__button-next:hover {
    color: #ffffff;
}

.elementor-189 .elementor-element.elementor-element-f9c74d4 .elementor-button[type="submit"]:hover {
    color: #ffffff;
}

.elementor-189 .elementor-element.elementor-element-f9c74d4 .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}

.elementor-189 .elementor-element.elementor-element-f9c74d4 .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-189 .elementor-element.elementor-element-f9c74d4 .elementor-message {
    font-family: "Poppins", Sans-serif;
    font-weight: 400;
}

.elementor-189 .elementor-element.elementor-element-f9c74d4 .elementor-message.elementor-message-success {
    color: #FFFFFF;
}

.elementor-189 .elementor-element.elementor-element-f9c74d4 .elementor-message.elementor-message-danger {
    color: #FFFFFF;
}

.elementor-189 .elementor-element.elementor-element-f9c74d4 .elementor-message.elementor-help-inline {
    color: #FFFFFF;
}

.elementor-189 .elementor-element.elementor-element-f9c74d4 {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

.elementor-189 .elementor-element.elementor-element-48a7c44 .elementor-icon-list-icon i {
    color: #FFFFFF;
}

.elementor-189 .elementor-element.elementor-element-48a7c44 .elementor-icon-list-icon svg {
    fill: #FFFFFF;
}

.elementor-189 .elementor-element.elementor-element-48a7c44 {
    --e-icon-list-icon-size: 14px;
}

.elementor-189 .elementor-element.elementor-element-48a7c44 .elementor-icon-list-text {
    color: #FFFFFF;
}

#elementor-popup-modal-189 .dialog-message {
    width: 640px;
    height: auto;
}

#elementor-popup-modal-189 {
    justify-content: center;
    align-items: center;
    pointer-events: all;
    background-color: rgba(0, 0, 0, .8);
}

#elementor-popup-modal-189 .dialog-close-button {
    display: flex;
}

#elementor-popup-modal-189 .dialog-widget-content {
    box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}

@media(max-width:767px) {
    .elementor-189 .elementor-element.elementor-element-a007c76>.elementor-element-populated {
        padding: 10px 10px 10px 10px;
    }
    .elementor-189 .elementor-element.elementor-element-22220d5 .elementor-heading-title {
        font-size: 21px;
    }
}

/* Start custom CSS for section, class: .elementor-element-c5a0ec8 */

.elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
    overflow: hidden;
}

body {
    overflow-x: hidden;
}

/* End custom CSS */